<header>
  <nav class=" bg-[#146C94]">
    <a href="/" class="brand-logo mx-5 px-5">
      Blood Bank
    </a>
  </nav>
</header>
<main>
  <div class="mx-2 px-2">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
